* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 1em;
    background-color: white;
}

main {
    background-color: #FCD0A1;
    color: #6D1A36;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
}

header {
    width: 100%;
    text-align: center;
}

header > p {
    text-transform: uppercase;
    margin: 0;
}

h1 {
    padding-top: 1rem;
    margin: 0;
}



